*{
    margin:0;
    padding:0;  
}

*, *::before, *::after{
    box-sizing: inherit;
}

:root{
    --background-color1:#F8F8F8;
    --background-color2:linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, #2C2B2B 100%);
    --text-color1:#EF3341;
    --text-color2:#FFFFFF;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*Facilitar conversão px para rem*/
    background-color: var(--background-color1);
    background-size: cover;
}

html, body{
    overflow-x: hidden;
}

/* COMEÇO DA BARRA DE NAVEGAÇÃO */

.navbar{
    position: fixed;
    display:flex;
    width:100%;
    height:6rem;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
    z-index:2;
    transition: all 0.5s ease-in;
}

.navbar a{
    text-decoration: none;
}
.black{
    background-color: #2C2B2B;
    transition: all 0.5s ease-in;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img-wrapper{
    width:4rem;
    height:4rem;
}

.logo-img-wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.logo span{
    font-family:'Eagle Lake', cursive;
    padding-left: .5rem;
    font-size: 1.6rem;
    color: var(--text-color2);
    text-shadow: 0 0 8px #000000
}

.nav-options{
    display:flex;
    list-style-type: none;
    overflow: hidden;
    transition: 1s;
}

.navbar-icon{
    color: var(--text-color2);
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.nav-options a{
    text-decoration: none;
    color:var(--text-color2);
    padding:0 2rem;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
}

/* FIM DA BARRA DE NAVEGAÇÃO */

/*BARRA DE NAVEGAÇÃO MOBILE*/
.mobile-nav{
    display:block;
    position: fixed;
    top:0;
    left:100%;
    width: 100%;
    min-height:100vh;
    background-color: #2C2B2B;
    padding-top:7rem;
    transition: 0.5s ease-in;
    z-index: 1;
}

.mobile-nav.is-active{
    left:0;
}

.mobile-nav a{
    display: block;
    text-align: center;
    margin:1.5rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color:var(--text-color2);
}
.mobile-nav a:hover{
    background-color: #414040;
}

/*FIM DA NAVEGAÇÃO MOBILE*/


/* COMEÇO DA TELA INICIAL */
#home{
    background-image: url('../imgs/main.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-shrink: 0;
    transition: all 0.5 ease-in;
}


.home-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.form{
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 1.5rem;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6rem;

}

.form form label{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.form form input{
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 50rem;
    border: transparent;
}

.form form .btn{
    margin-top: 5rem;
    padding: 2rem;
    cursor: pointer;
    background-color: var(--text-color1);
    transition: background-color 1s ease;
}
.form form .btn:hover{
    background-color: #cc1421;
}

#home h1{
    font-family: 'Lora', serif;
    font-size: 15rem;
    font-weight: 400;
    color:var(--text-color1);
    text-shadow: 0 0 10px #000000;
    animation-name: moveInLeft;
    animation-duration: 1.5s; 
    margin-bottom: 1rem;
}

#home p{
    color:var(--text-color2);
    font-size: 2rem;
    max-width: 72rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    animation-name: moveInBottom;
    animation-duration: 1.2s;
}

/*ANIMAÇÃO DO TEXTO DA TELA INICIAL*/

/*Animação do título*/
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); 
    }
    70% {
      transform: translateX(1rem);
     }
    100% {
      opacity: 1;
      transform: translate(0); }
     }

/*Animação do parágrafo*/
@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
     }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }
/*FIM DA ANIMAÇÃO DO TEXTO DA TELA INICIAL*/
/* FIM DA TELA INICIAL */


/*COMEÇO DA TELA SECUNDÁRIA*/
.sub-home{
    display: flex;
    padding:15rem 5rem;
    align-items: center;
    justify-content: space-evenly;
}

.sub-home-img-wrapper{
    width:50rem;
    height:50rem;
    flex-shrink:0;
    transition: transform 0.2s;
    
}

.sub-home-img-wrapper img{
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
    overflow: hidden;
}

.sub-home-img-wrapper img:hover{
    transform: scale(1.1);
}

.sub-home-text{
    font-family: 'Poppins', sans-serif;
}

.sub-home-text h2{
    font-weight: 500;
    color: var(--text-color1);
    font-size: 5rem;
    padding-bottom: 3rem;
}

.sub-home-text p{
    font-weight: 300;
    font-size: 2.5rem;
    max-width: 70rem;
}
/*FIM DA TELA SECUNDÁRIA*/


/*COMEÇO DOS CARDS*/
#descubra{
    background-image: var(--background-color2);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 8rem;
    transition: all 0.5 ease-in;
    
}

#descubra h2{
    font-family:'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 5rem;
    color: var(--text-color2);
    padding-bottom: 4rem;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:10rem 8rem;
}

.card{
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .8);
    border-radius: 1.5rem;
    transition: all .8s;
    overflow: hidden;
}

.card:hover .content{
    bottom:2rem;
    background-color: #00000080;
}

.card:hover span{
    bottom:17rem;
    background-color: #00000080;
}

.card-img-wrapper{
    height:43rem;
    width: 38rem;
}

.card-img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.content{
    position: absolute;
    font-family:'Poppins', sans-serif; 
    text-align: left;
    left: 0;
    padding-left: 2rem;
    bottom:-30rem;
    transition: all .8s;
}

.content p{
    color: var(--text-color2);
    font-size: 1.5rem;
    text-shadow: 1rem 1rem 12rem #000000;
}
.card span{
    position: absolute;
    left:0;
    padding:0 2rem;
    
    bottom:2.5rem;
    color: var(--text-color2);
    font-family:'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 0 0 10px #000000;
    transition: all .8s;
}
/*FIM DOS CARDS*/


/*COMEÇO DOS GUIAS DE TURISMO*/
#guias{
    text-align: center;
    padding: 10rem 8rem;
    transition: all 0.5 ease-in;
}

#guias h2{
    font-family:'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 5rem;
    color: var(--text-color1);
}

.guia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    text-align: left;
    font-family:'Poppins', sans-serif;
}

.guia-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    text-align: right;
    font-family:'Poppins', sans-serif;
}
.guia-summary{
    flex-direction: column;
    padding: 0 3rem;
}

.guia-summary h3{
    font-weight: 500;
    font-size: 3rem;
}

.guia-summary span{
    font-weight: 300;
    font-size: 1.5rem;
}

.guia-summary p{
    max-width: 70rem;
    font-weight: 400;
    font-size: 2rem;
    padding-top: 3rem;
    
}

.guia-img-wrapper{
    width: 25rem;
    height: 30rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.guia-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    transition: transform 0.3s;
}

.guia-img-wrapper img:hover{
    transform: scale(1.1);
    
}
/*FIM DOS GUIAS DE TURISMO*/


/*COMEÇO DA SEÇÃO SOBRE*/
#sobre{
    background-image: var(--background-color2);
    padding: 9rem 0rem;
    font-family:'Poppins', sans-serif;
}

#sobre h2{
    font-weight: 500;
    font-size: 5rem;
    color: var(--text-color2);
    text-align: center;
    padding-bottom: 9rem;
}

.sobre-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-img-wrapper{
    width:62rem;
    height:78rem;
    padding-bottom: 3rem;
    flex-shrink: 0;
}

.sobre-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    flex-shrink: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .8);
}

.sobre-text{
    font-size:1.8rem;
    color: var(--text-color2);
    max-width: 60rem;

}
.sobre-text p{
    padding-bottom: 3rem;
    padding-left: 7rem;
    font-weight: 300;
    line-height: 3.5rem;
}
/*FIM DA SEÇÃO SOBRE*/

/*FOOTER*/
footer{
    background-color: var(--background-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.logo-footer span{
    font-family:'Eagle Lake', cursive;
    font-size:1.6rem;  
    text-shadow: 0 0 8px #000000;
}

footer p{
    font-size: 1rem;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    max-width: 60rem;
    text-align: center;
}
/*FIM DO FOOTER*/



/* RESPONSIVO */

@media(max-width:1350px){
    #home{
        flex-direction: column;
    }
    .home-text{
        align-items: center;
    }
    .sub-home{
        flex-direction: column;
        text-align: center;
    }
    .sub-home-img-wrapper{
       margin-bottom: 3rem;
    }
    .row{
        flex-direction: column;
        padding: 0;
    }
    .card{
        margin-bottom: 4rem;
    }
    .sobre-container{
        flex-direction: column;
    }
    .sobre-container p{
        padding-left: 0;
    }

}
@media(max-width: 730px){
    .navbar-icon{
        display:flex;
    }
    .nav-options{
        display: none;
    }
    .guia{
        flex-direction: column;
        text-align: center;
    }
    .guia-right{
        flex-direction: column;
        text-align: center;
    }
}

@media(min-width:730px){
    .mobile-nav{
        display:none;
    }
}

@media(max-width:635px){
    #descubra{
        background-size: cover;
        margin:0;
        padding: 0;
    }
    #descubra h2{
        padding-top: 3rem;
        font-size:3rem;
    }
    .sobre-img-wrapper{
        width:80%;
        height:66%
    }
    .sobre-text{
        padding:0 2rem;
        text-align: center;
    }
    .sub-home-img-wrapper{
        width:85%;
        height:66%
    }
    .card{
        width:80%;
        height:66%;
       
    }
    .card-img-wrapper{
        width:100%;
    }
    .form form{
        padding: 1.5rem;
    }
    .form form label{
        font-size: 3rem;
    }
    .form form input{
        width: 30rem;
    }
}
    
@media(max-width:460px){
    #home h1{
        font-size:8rem;
    }
    #home p{
        font-size: 1.5rem;
        max-width: 40rem;
    }
    .card:hover span{
        bottom:21rem;
    }
}

@media(max-width:400px){
    .card:hover span{
        bottom:25rem;
    }
}
@media(max-width:300px){
    #home h1{
        font-size:5rem;
    }
    #home p{
        font-size: 1.5rem;
        max-width: 40rem;
    }
    #guias h2{
        font-size:3rem;
    }
    .card:hover span{
        bottom:35rem;
    }
}